@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --banner-blue : #338FD8;
  --orange-color: #F29641;
}

.text-width{
  width: 700px;
}

.text-color{ 
  color: #737373;
}

@layer base{
  html{
    font-family: 'Baloo 2', cursive;
  }
}

.background-color{ 
  background-color: var(--banner-blue);
}

.input-container-width{
  width: 823px;
}

.input-width{
  width: 720px;
}

.orange-color{
  background-color: var(--orange-color);
}

.input-container{
  border:#338FD8;
}

.chat-box-height{
  height: 95vh;
}