@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --banner-blue : #338FD8;
  --orange-color: #F29641;
  --orange-text-bubble: #FFEBDC;
  --green-text-bubble: #EBFAC0;
}
::-webkit-scrollbar {
  display: none;
}
.chat-box-width{
  width: 65vw;
}

.orange-bubble{
  background-color: var(--orange-text-bubble);
}

.green-bubble{
  background-color: var(--green-text-bubble);
}

*{
  scrollbar-width: none;  /* Firefox */
}

.text-width{
  width: 700px;
}

.text-color{ 
  color: #737373;
}

@layer base{
  html{
    font-family: 'Baloo 2', cursive;
  }
}

.background-color{ 
  background-color: var(--banner-blue);
}

.input-container-width{
  width: 823px;
}

.input-width{
  width: 720px;
}

.orange-color{
  background-color: var(--orange-color);
}

.input-container{
  border:#338FD8;
}

.chat-box-height{
  height: 85vh;
}